@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'AvenirRoman';
    src: local('Avenir Roman'), local('Avenir-Roman'),
        url('./fonts/Avenir-Roman.woff2') format('woff2'),
        url('./fonts/Avenir-Roman.woff') format('woff'),
        url('./fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'AvenirLight';
    src: local('Avenir Light'), local('Avenir-Light'),
        url('./fonts/Avenir-Light.woff2') format('woff2'),
        url('./fonts/Avenir-Light.woff') format('woff'),
        url('./fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }


html, body {
  overflow-x: hidden;
  background-color: #11071f;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffc69d;
}

::-webkit-scrollbar-thumb {
  background: #FF6900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff842c;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
